*
{
    margin: 0%;
}
#p1
{
  
    background-color: brown;
    display: inline-block;
    padding-bottom: 50px;
    padding-top: 5%;
    width: 45%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 40px;
    margin-top: 50px;

}
#p2
{
    background-color: brown;
    display: inline-block;
    padding-bottom: 50px;
    padding-top: 5%;
    width: 45%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 50px;
}
#div1 
{
    margin-left: 20px;
    height: 380px;
    width: 300px;
    background-color: white;
    display: inline-block;

}
#div1 :hover 
{
    box-shadow: 5px 5px 25px grey, 0px 10px 25px black;
}
#div2
 {
    height: 380px;
    width: 300px;
    background-color:white;
    display: inline-block;
}
#div2:hover 
{
   
    box-shadow: 5px 5px 25px purple,
    0px 10px 25px red;
}
#div3 
{
    height: 380px;
    width: 300px;
    background-color: white;
    display: inline-block;
    
}
#div3 :hover
{
    /* height: 300px;
    width: 300px;
    background-color: black;
    display: inline-block; */
    box-shadow: 5px 5px 25px yellowgreen,
    0px 10px 25px yellow;
    
}
#div4
 {
    height: 380px;
    width: 300px;
    background-color: white;
    display: inline-block;
}
#div4:hover 
{
    /* height: 300px;
    width: 300px;
    background-color: black;
    display: inline-block; */ */
    box-shadow: 5px 5px 25px turquoise,
    0px 10px 25px teal;
}
h1
{
    color: brown;
    text-align: center;
   
}
#div5 
{
    margin-left: 20px;
    height: 380px;
    width: 300px;
    background-color:white;
    display: inline-block;

}
#div5:hover 
{
    /* margin-left: 20px;
    height: 300px;
    width: 300px;
    background-color: black;
    display: inline-block; */
    box-shadow: 5px 5px 25px blueviolet,
    0px 10px 25px blue;

}

#div6 {
    height: 380px;
    width: 300px;
    background-color: white;
    display: inline-block;
}
#div6:hover
 {
    /* height: 300px;
    width: 300px;
    background-color: black;
    display: inline-block; */
    box-shadow: 5px 5px 25px brown,
    0px 10px 25px red;
}


#div7 {
    height: 380px;
    width: 300px;
    background-color: white;
    display: inline-block;
}
#div7:hover
{
    /* height: 300px;
    width: 300px;
    background-color: black;
    display: inline-block; */
    box-shadow: 5px 5px 25px orange,
    0px 10px 25px orangered;
}

#div8 {
    height: 380px;
    width: 300px;
    background-color: white;
    display: inline-block;
}
#div8:hover
 {/* 
    height: 300px;
    width: 300px;
    background-color: black;
    display: inline-block; */
    box-shadow: 5px 5px 25px greenyellow,
    0px 10px 25px green;
}
